*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Overpass Mono', sans-serif;
}

html
{
  font-size: 100%;
}

img,
picture,
video,
canvas,
svg
{
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select
{
  font: inherit;
}

/* END RESET */

#background
{
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, hsl(250, 40%, 50%), hsl(335, 60%, 30%));
}

#content
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  color: #ffffff;
}

#Calculator
{
  padding: 20px;
  width: 360px;
  background: #ffffff99;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 20px;
  box-shadow: 0 10px 20px hsla(350, 70%, 20%, 0.6);
}

#ContainerScreen
{
  height: 100px;
  width: 95%;
  background: #1e1e2ebb;
  border-radius: 10px;
  box-shadow: inset 0 4px 5px #00000055;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
}

.screenText
{
  color: #fff;
  font-weight: bold;
  font-size: 2.5rem;
  padding-right: 10px;
  flex: 2;
}

.screenPrev
{
  color: #bbb;
  font-size: 1.25rem;
  padding-right: 14px;
  padding-top: 15px;
  flex: 1;
}

#ContainerButtons
{
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.buttonBackground
{
  border: none;
  background: hsl(215, 30%, 40%);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  min-width: 60px;
  min-height: 70px;
  flex-grow: 1;
  display: flex;
}

.buttonText
{
  display: block;
  flex-grow: 1;
  padding: 20px 15px;
  width: 55px;
  height: 70px;
  color: #fff;
  font-style: bold;
  font-size: 1.5rem;
}

.digit
{
  background: hsl(240, 21%, 15%);
}

.clear
{
  background: hsl(345, 50%, 50%);
}

.buttonBackground:hover .buttonText
{
  background: hsla(0, 0%, 0%, 0.4);
}

.buttonBackground:active .buttonText
{
  background: hsla(0, 100%, 100%, 0.4);
}